.Logo img{
  height: 45px;
  width: 45px;
  padding-bottom: 0;
}

.Logo{
   display: flex;
   align-items: center;
 align-items: center;
   font-size: 30px;
   color: black;


   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 15px;
}
