.Logo img{
  height: 50px;
  width: 50px;
  padding-bottom: 0;
}

.Logo{
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   font-size: 15px;
   color: black;


   padding:  15px 0;
}
