.Toolbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
  
    font-size: 2rem;
    color: white;
    background-color:  rgb(17, 240, 147);
    box-shadow: 0 0 10px rgb(17, 240, 147);
  }
  
  @media (max-width: 549px) {
    .Toolbar nav {
      display: none;
    }
  }