.PharmacyControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0;
  }
  .PharmacyControl .ingredient div {
    position: static;
    margin: 0 10px;
  }

  .ingredient{
    margin: 5px;
    padding: 5px;
  }
