.PharmacyPreview{
  flex: 0 0 400px;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.medicals {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 18px;
}
.price {
  background-color:#c0bebe;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-size: 22px;
  padding: 10px 20px;
  margin-bottom: 2rem;
  border-radius: 10px;
}
.shelf{
  background-size: auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    flex: 1 1 auto;
    margin-bottom: 70px;
}
.plantFlex {
  display: flex;
  flex-wrap: wrap;
  
}