.PharmacyPreview{
  flex: 0 0 400px;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
.medicals {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 18px;
}
.price {
  background-color:#c0bebe;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-size: 22px;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 10px;
}
.shelf{
  background-size: auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    flex: 1 1 auto;
}
.plantFlex {
  display: flex;
  flex-wrap: wrap;
  
}

@media (max-width:780px) {
  .PharmacyPreview{
    display: flex;
    flex-direction: column;
  }
  .shelf{
    background-size: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 400px;
      flex: 1 1 auto;
  }
}