.NavItem a {
  color: black;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  display: block;
 padding-right: .8rem;
 padding-left: .6rem;
 padding-bottom: 1rem;
 padding-top: 1rem;

}
.NavItem a:hover {
  border-color: gray;
  text-shadow: rgb(0, 255, 255);
}
.NavItem a:active,
.NavItem a.active {
  border-color: rgb(158, 215, 241);
}

@media (max-width: 769px) {
  .NavItem a {
    border-right: 10px solid transparent;
    border-bottom: none;
  }
}
