.Auth{
 display:flex;
 flex-direction: column;
 align-content: center;
 align-items: center;
 margin: 0 auto;
}

.Auth>input{
  width: 250px;
  border-radius: 5px;
  border-color:rgb(173, 173, 173) ;
  margin-top: 5px;
  margin-bottom:5px ;
  padding: 10px;
}

.green{
  margin: 15px 0;
}